@import "../../../../variables.scss";
@import "../../../../mixins.scss";

section.class-summary {
  width: 88%;
  padding-left: 5rem;

  header {
    h2 {
      @include secondary-heading;
    }
  }

  .class-performance {
    display: flex;
    flex-direction: column;
    width: 100%;

    .student-groups {
      display: flex;
      justify-content: space-between;
      width: 100%;

      padding: 1rem;

      border-top: 3px solid $dark-gray;
    }
  }
}
