@import "../../../variables.scss";
@import "../../../mixins.scss";

section.assessment-results {
  width: 100%;

  h2 {
    @include main-heading;
  }

  div {
    display: flex;

    nav {
      display: flex;
      flex-direction: column;
      width: 12%;

      a {
        font-size: 1.6rem;
        text-decoration: none;
        color: $dark-gray;
        padding: 0.5rem 0;

        border-bottom: 1px solid $dark-gray;
      }
    }
  }
}
