@import "../../../../variables.scss";

section.analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 88%;
  height: 34.1rem;

  padding-left: 5rem;

  header {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: auto;

    margin-bottom: 1rem;

    h2 {
      margin: 0;
      border: 0;
    }

    p {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      color: $dark-blue;
      width: 70%;
    }

    ol {
      list-style-type: demical;

      li {
        font-size: 1.5rem;
        width: fit-content;
      }
    }
  }

  .student-breakdown {
    display: flex;
  }
}

.correct {
  background: $correct-faded;
}

.incorrect {
  color: $incorrect-faded;
}
