@import "../../../../variables.scss";

table {
  width: 50%;

  border-collapse: collapse;

  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  th {
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark-blue;
  }

  thead {
    tr {
      border-bottom: 1px solid $black;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: $light-gray;
    }

    td {
      padding: 0.5rem 0.6rem;

      font-size: 1.4rem;
    }
  }
}
