@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.scheduler {
  width: 66%;

  hr {
    height: 1px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    div.suggested-lessons {
      display: flex;
      flex-direction: column;
      border: 0;
      padding: 0;

      h2 {
        @include secondary-heading;
      }

      p {
        display: flex;
        align-items: center;

        margin: 0.5rem 0;

        label {
          width: 100%;
          padding-left: 1rem;
          color: $dark-blue;
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }

    div.calendar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      margin: 0;
      border: none;
      padding: 0;

      h2 {
        @include secondary-heading;
      }

      div.date-time {
        // margin-left: 2.2rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        p {
          display: flex;
          flex-direction: column;
          width: 100%;

          margin: 0.5rem 0;

          label {
            color: $dark-blue;
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
          }

          input {
            font-size: 1.4rem;
            padding: 0.2rem 0.5rem;
            margin-right: 1rem;
          }
        }
      }

      div.calendar-type {
        display: flex;
        flex-direction: column;
        width: 50%;

        h3 {
          color: $dark-blue;
          font-size: 1.6rem;
          font-weight: 700;
          margin: 0.5rem;
        }

        p {
          display: flex;
          align-items: center;
          width: 100%;

          margin: 0.5rem 0;
          margin-left: 2.2rem;

          label {
            color: $dark-blue;
            font-size: 1.6rem;
            font-weight: 700;
          }

          input {
            font-size: 1.4rem;
            padding: 0.2rem 0.5rem;
            margin-right: 1rem;
          }

          button {
            width: 90%;
            font-size: 1.6rem;
            height: 2.9rem;
            background: $correct-faded;
          }
        }
      }
    }
  }
}
