// COLORS

// green
$correct: #4cd000;
$correct-faded: #4cd00077;

// red
$incorrect: #ff0000;
$incorrect-faded: #ff000077;

// blue
$dark-blue: #2d639a;
$light-blue: #00a8ff;
$dark-teal: #152d39;

// gray-scale
$white-faded: #f3eeee;
$light-gray: #d6dce5;
$dark-gray: #6d6e70;
$black: #000;

:export {
  correct: $correct;
  correctFaded: $correct-faded;
  incorrect: $incorrect;
  incorrectFaded: $incorrect-faded;
  darkBlue: $dark-blue;
  lightBlue: $light-blue;
  black: $black;
  lightGray: $light-gray;
  darkGray: $dark-gray;
  overlay: $dark-teal;
  modal: $white-faded;
}
